<div id="looks">
    <% @looks.each do |look| %>
        <div>
            <p><%= look.description %></p>
            <% look.photos.each do |photo| %>
                <%= image_tag(photo, size: '100x100') %>
            <% end %>
            <%= button_to 'Delete', look_path(look), method: :delete, data: { confirm: 'Are you sure?' } %>
        </div>
    <% end %>
</div>
